<a href="https://colab.research.google.com/github/ravi-prakash1907/Predictive-Analytics/blob/main/Basics/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regression Problem

## Problem  

There are 14 variables in the data which are: 

CRIM - per capita crime rate by town  
ZN - proportion of residential land zoned for lots over 25,000 sq.ft.  
INDUS - proportion of non-retail business acres per town.  
CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)  
NOX - nitric oxides concentration (parts per 10 million)  
RM - average number of rooms per dwelling  
AGE - proportion of owner-occupied units built prior to 1940  
DIS - weighted distances to five Boston employment centres  
RAD - index of accessibility to radial highways  
TAX - full-value property-tax rate per \$10,000  
PTRATIO - pupil-teacher ratio by town  
B - $1000(Bk - 0.63)^2$ where Bk is the proportion of blacks by town  
LSTAT - % lower status of the population  
MEDV - Median value of owner-occupied homes in \$1000's  

---  
_First report EDA, followed by regression analysis to **predict the price of a house**_

In [ ]:
import pandas as pd
import numpy as np
import requests
import os

## Getting Data

In [ ]:
dataURL = "https://raw.githubusercontent.com/ravi-prakash1907/Predictive-Analytics/main/Datasets/houseData.csv"

## to download dataset
def downloadCSV(fileURL, saveAs='downloaded.csv'):
  req = requests.get(fileURL)
  fileURLContent = req.content
  csv_file = open(saveAs, 'wb')
  
  csv_file.write(fileURLContent)
  csv_file.close()

In [ ]:
try:
  os.mkdir('Datasets')
  fileLoc = 'Datasets/houseData.csv'
except:
  fileLoc = 'Datasets/houseData.csv'
  
downloadCSV(dataURL, fileLoc)

## Data Understanding

In [ ]:
df = pd.read_csv(fileLoc)
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222     18.7  396.90    NaN  36.2

[5 rows x 14 columns]

In [ ]:
df.shape

(506, 14)

In [ ]:
df.describe()

             CRIM          ZN       INDUS  ...           B       LSTAT        MEDV
count  486.000000  486.000000  486.000000  ...  506.000000  486.000000  506.000000
mean     3.611874   11.211934   11.083992  ...  356.674032   12.715432   22.532806
std      8.720192   23.388876    6.835896  ...   91.294864    7.155871    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.081900    0.000000    5.190000  ...  375.377500    7.125000   17.025000
50%      0.253715    0.000000    9.690000  ...  391.440000   11.430000   21.200000
75%      3.560262   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

In [ ]:
df.isnull().head()

    CRIM     ZN  INDUS   CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT   MEDV
0  False  False  False  False  False  ...  False    False  False  False  False
1  False  False  False  False  False  ...  False    False  False  False  False
2  False  False  False  False  False  ...  False    False  False  False  False
3  False  False  False  False  False  ...  False    False  False  False  False
4  False  False  False  False  False  ...  False    False  False   True  False

[5 rows x 14 columns]

AttributeError: ignored